*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
    display:flex;
    flex-direction:column;
    margin-left: 160px;
    width: 80vw;
    height: 80vh;
}

.top_menu_id{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5% auto;
}

body{
  
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

#top_menu_id{
    width: 100%;
}

.top_menu {
    position: relative;
    background-color: #006241;
    margin: 5% auto;
    list-style: none;
    display: table;
    width: 80%;
    text-align: center;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

a1 {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a1:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a1:hover:after {
    width: 100%;
    left: 0;
    background-color: #fff;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.frappuccino-slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #006241;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #006241;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 60px 70px 40px 140px;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 60px 70px 40px 140px;
  border: 4px solid #006241;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.kor_name{
    font-size: 16px;
    font-weight: 500;
    color : #333;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #00704A;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #006241;
}

.swiper-navBtn{
  color: #00704A;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #00704A;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #00704A;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #00704A;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
